      @font-face {
  font-family: 'Countdown';
  src: url('fonts/countdown_Regular.otf') format('opentype');
}
@font-face {
      font-family: 'Data70';
  src: url('fonts/data70_Regular.otf') format('opentype');
}

    h1 {
        border: solid 1vw #3b1c42;
        background-color: #0d0d0d;
        width: 50vw;
        height: 4vw;
        margin: none;

        font-family: 'Countdown';
        text-align: center;
        font-size: 4vw;
        color: #9e1b32;
    }
      
      body {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        font-family: helvetica, sans-serif;
        
        position: fixed;
        left: 25vw;
        width: 50vw;
        background-color: #c98a5f;
      }

      label {
        font-weight: bold;
      }

      div {
        padding-bottom: none;
      }

      #inputs {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-content: center;
        text-align: center;
  
        width: 100%;
        height: 2vw;
        border: solid 1vw #3b1c42;

        background-color: #0d0d0d;
        color: #9e1b32;

      }

      input[type="text"] {
        padding: none;
        width: 150px;
      }


      #input1 {
        padding: .5vw;
      }

      #input2 {
        padding: .5vw;
      }

      #generate {
        padding: .5vw;
      }

      p {
        background: #ffc125;
        color: #5e2612;
        border: 1vw solid #3b1c42;
        padding: .5vw;
        width: 49vw;
        visibility: hidden;
      }