body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fafafa;
  margin: 10vw 10vw;
  color: #333;
}

h1 {
  margin-bottom: 2.5vw;
}
#abacus {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 5vw;
  flex-wrap: wrap;
}

.column {
  position: relative;
  width: 3vw;
  height: 20vw;
  background: floralwhite;
  border: .5vw solid darkgreen;
  overflow: hidden;
}

.track {
  position: relative;
  width: 100%;
  height: 100%;
}

.bead {
  width: 2.5vw;
  height: 1vw;
  background: orangered;
  border-radius: .25vw;
  position: absolute;
  left: .25vw;
  cursor: pointer;
  transition: top 0.25s ease, background-color 0.2s ease;
}

.bead.upper {
  background-color: orangered;
}

.bead[data-active="1"] {
  background-color: #8b4513;
}

button {
  border: .25vw solid darkgreen;
  background-color: floralwhite;
  height: 100%;
  padding: none;
  margin: none;
}

#display+button {
  height: 3vw;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#phone-display {
  font-size: 2vw;
  font-weight: bold;
  background: floralwhite;
  padding: .5vw 1vw;
  border: 2px solid #ccc;
  display: inline-block;
  height: 100%;
}